form(action="/questions/create" method="post")
    div
        label Question:
        input(type="text" name="question")
    div
        label Language:
        input(type="text" name="language")
    div
        label Language:
        input(type="text" name="trueAnswers")
    div
        label Language:
        input(type="text" name="falseAnswers")
    div
        input(type="submit" value="Create")