table {
  margin: auto;
  width: 100%;
  max-width: 900px;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 20px 30px;
  width: 30%;
}
tbody tr:nth-child(odd) {
  background-color: white;
}

td {
  vertical-align: top;
  border-top: 1px solid black;
}

td.delete-icon {
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.delete-icon svg {
  transform: scale(1.5);
}

.delete-icon svg > circle {
  fill: white;
  transition: all 100ms ease-in-out;
}

.delete-icon svg:hover > circle {
  fill: red;
}
.delete-icon svg > path {
  stroke: black;
  transition: all 100ms ease-in-out;
}
.delete-icon svg:hover > path {
  stroke: white;
}

.floating-button {
  position: fixed;
  bottom: 0;
  right: 0;

  height: 4em;
  width: 4em;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: var(--primaryColor);
  box-shadow: 0 3px 10px -1px black;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
}

.floating-button:hover {
  transform: translateY(5px);
  box-shadow: 0 3px 15px -3px black;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.floating-button:focus {
  outline: none;
  box-shadow: 0 0 10px 4px var(--primaryHighlight);
}