.Modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  background: hsla(0,0%,0%,0.9);

  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.Modal > * {
  transform: translateX(100vw);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.Modal.open {
  opacity: 1;
  pointer-events: all;
}

.Modal.open > * {
  transform: translateX(0);
}