.Answer-item {
    padding: 10px var(--padding);
    cursor: default;
}

.Answer-item[data-checked="true"] {
    background: orangered;
    text-shadow: 1p
}

.submit {
    background: orangered;
    padding: 10px;
    color: white;
    text-shadow: var(--textShadow);
    /*align-self: flex-end;*/
}
