:root {
    --padding: 30px;
    --textShadow: 1px 1px 2px black;
    --transition: all 0.2s ease-in-out;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: radial-gradient(ellipse at center, orangered 0%, rgba(0,69,255,.3) 100%);
    /*radial-gradient( ellipse at 50% 50%, hsl(200, 100%, 40%), lightblue);*/
}

ul {
    padding-left: 0;
}

.wrapper {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 0 7px -1px black;
    width: 90%;
    max-width: 900px;
    position: absolute;
    display: flex;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}

.card.active {
    opacity: 1;
    pointer-events: all;
}

.card.done {
    transform-origin: 0 50%;
    animation: fly-away 0.5s ease-in;
}

@keyframes fly-away {
    from {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50vw, 0) rotate(-360deg) scale(0);
        opacity: 0;
    }
}

.topic {
    background: orangered;
    color: goldenrod;
    flex: 0;
    font-size: 4em;
    padding: var(--padding);
    text-shadow: var(--textShadow);
}

.topic p {
    transform: rotate(-90deg);
}

.question {
    background: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--padding);
}

.answer-item {
    padding: 10px var(--padding);
    cursor: default;
    list-style: none;
    transition: var(--transition);
}

.answer-item.checked {
    background: orangered;
    color: white;
    text-shadow: 1p
}

.question > .submit {
    background: orangered;
    padding: 10px;
    color: white;
    text-shadow: var(--textShadow);
    align-self: flex-end;
}

.question > .submit:disabled {
    filter: blur(5px);
}
footer {
    height: 50px;
}

@media only screen and (max-width: 500px) {
    .card {
        flex-direction: column;
    }
    .topic p {
        margin: 0;
        transform: rotate(0);
    }
}