/*
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*/
:root {
    --padding: 30px;
    --textShadow: 1px 1px 2px black;
}

body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: radial-gradient(ellipse at center, hsl(33,84%,88%) 0%, hsl(33,84%, 80%) 20%, hsl(33,84%,61%) 100%);
    /*radial-gradient( ellipse at 50% 50%, hsl(200, 100%, 40%), lightblue);*/
}

ul {
    padding-left: 0;
}

.wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card {
    max-width: 900px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    will-change: transform, opacity;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.Card.mounted {
    opacity: 0;
    transform: translateX(100vw);
}

.Card.active {
    opacity: 1;
    transform: translateX(0%);
}

.Card.done {
    opacity: 0;
    transform: translateX(-100vw)
}

/*@keyframes fly-away {
    from {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50vw, 0) rotate(-360deg) scale(0);
        opacity: 0;
    }
}*/

.topic {
    background: orangered;
    color: goldenrod;
    flex: 0;
    font-size: 4em;
    margin: 0 0 auto;
    padding: var(--padding);
    text-shadow: var(--textShadow);
}

.topic > p {
    margin: 0;
}

.question {
    background: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--padding);
    margin-bottom: auto;
}

.answer-item {
    padding: 10px var(--padding);
    cursor: default;
}

.answer-item[data-checked="true"] {
    background: orangered;
    text-shadow: 1p
}

.question > .submit {
    background: orangered;
    padding: 10px;
    color: white;
    text-shadow: var(--textShadow);
    align-self: flex-end;
}

.question > .submit:disabled {
    filter: blur(5px);
}
footer {
    height: 50px;
}